<h3 class="btn text-center" id="tab-dashboard"><%= link_to "Back to Map!", walk_path(@walk), :style => "color: white;" %></h3>

<div class="container d-flex">
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <span><%= message.user.name %></span>
          <br>
          <small><%= message.created_at.strftime("at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="text-box">
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Type your message" %>
  <% end %>
</div>




