<!-- Getting the first name -->
<h4 align="center">Hello <%= current_user.name.split(" ")[0] %></h4>

<div class="container" class="tab-content" align="center">

<!-- Requests I have sent -->
  <div class="tab-pane fade show active" id="request">
    <% if @my_walk_request %>
  <!-- map -->
    <div id="map"
     class = "col-12"
     data-markers="<%= @markers.to_json %>"
     data-meet-point="<%= @meet_point %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <!-- content -->
    <div class="card mt-3">
      <div class="card-body d-flex justify-content-between">
        <%= cl_image_tag @my_buddy.photo.key, class: "profile-pic" %>
        <div>
          <p id = "text-dashboard">Buddy: <%= @my_buddy.name %></p>
          <p id="text-dashboard">Meeting point: <%= @my_walk_request.meeting_point %></p>
          <% if @my_walk_request.walk_request_status == "Confirmed" %>
            <%= link_to 'Getting there', walk_path(@my_walk_request), class: "btn-link" %>
          <% end %>
          <%= link_to 'Cancel request', walk_path(@my_walk_request), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn-dashboard"%>
        </div>
        <div>
        <p id = "text-dashboard"><%= @my_walk_request.walk_request_status %></p>
        <% if @my_walk_request.walk_request_status == "Confirmed" %>
          <p id = "text-dashboard"><%= @my_walk_request.pin %></p>
        <% end %>
        </div>
      </div>
    </div>
    <% else %>
    <div class ="blank-card">
      <h4>You have not sent a request</h4>
    </div>
    <% end %>
    </div>

<!-- Requests I have received -->
  <div class="tab-pane fade" id="incoming">
    <% if @walk_request_received %>
    <!-- map -->
    <div id="mapbuddy"
     class = "col-12"
     data-marker ="<%= @buddymarkers.to_json %>"
     data-buddy-meet-point="<%= @buddy_meet_point %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <!-- content -->
    <div class="card mt-3">
      <div class="card-body d-flex justify-content-center">
        <%= cl_image_tag @requester.photo.key, class: "profile-pic" %>
        <div>
          <p id = "text-dashboard">Buddy: <%= @requester.name %> </p>
          <p id = "text-dashboard">Meeting point: <%= @walk_request_received.meeting_point %></p>
          <% if @walk_request_received.walk_request_status == "Confirmed" %>
            <%= link_to 'Getting there', walk_path(@walk_request_received), class: "btn-link" %>
            <%= link_to 'Cancel', walk_path(@walk_request_received, format: 'Cancelled'), method: 'PATCH', class: "btn-dashboard" %>
          <% end %>
        </div>
        <% case @walk_request_received.walk_request_status %>
        <% when "Pending" %>
          <% if @my_walk_request && @my_walk_request.walk_request_status == "Confirmed" %>
            <div><p id="text-dashboard">You can only have 1 buddy at a time. Cancel your request to modify this request</p></div>
          <% else %>
            <div>
              <p class="btn" id="text-dashboard"><%= link_to 'Accept', walk_path(@walk_request_received, format: 'Confirmed'), method: 'PATCH', class: "btn-link" %></p>
              <p class="btn" id = "text-dashboard"><%= link_to 'Decline', walk_path(@walk_request_received, format: 'Declined'), method: 'PATCH', data: {confirm: 'Are you sure?'}, class: "btn-link"%></p>
            </div>
          <% end %>
        <% when "Cancelled" %>
          <p id = "text-dashboard"><%= @walk_request_received.walk_request_status %></p>
        <% when "Confirmed" %>
          <% if @my_walk_request && @my_walk_request.walk_request_status == "Confirmed" %>
            <div><p id="text-dashboard">You can only have 1 buddy at a time. Cancel your request to modify this request</p></div>
          <% else %>
          <div>
            <p id = "text-dashboard"><%= @walk_request_received.walk_request_status %></p>
            <p id = "text-dashboard">PIN: <%= @walk_request_received.pin %></p>
          </div>
          <% end %>
        <% else %>
          <p id = "text-dashboard"><%= @walk_request_received.walk_request_status %></p>
        <% end %>
      </div>
    </div>
    <% else %>
    <div class ="blank-card">
      <h4>You have received no requests</h4>
    </div>
    <% end %>
  </div>
</div>

<!-- Tabs -->

<div class="dashboard-tabs d-flex flex-row justify-content-center">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#request">
        <img class="icon-person" src="https://i.imgur.com/gNYUbFp.png" title="source: imgur.com" id="icon-tab">
        <p class="text-tab">Requests sent</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#incoming">
        <img class="icon-letter" src="https://i.imgur.com/giHPsCH.png" title="source: imgur.com" id="icon-tab">
        <span class="badge"><%= @badge %></span>
        <p class="text-tab">Requests received</p>
      </a>
    </li>
  </ul>
</div>



<!-- <script>
    window.setInterval('refresh()', 10000);

    function refresh() {
        window .location.reload();
    }
</script> -->
