<div class="container" style="margin-top: 10px;">
  <h3 align="center">Dashboard</h3>
</div>

<div class="container" class="tab-content" align="center">

  <div class="tab-pane fade in show active" id="request">
    <p>This tab show all of my requests</p>
    <div id="map"
     style="width: 800px; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <% if @my_walk_request %>
    <div class="card mt-4" style="width: 800px;height: 180px">
      <div class="card-body d-flex justify-content-between align-items-center">
        <%= cl_image_tag @my_buddy.photo.key, :style => "width: 100px; height: 100px;" %>
        <div>
          <p class="card-title">Buddy: <%= @my_buddy.name %></p>
          <p class="card-text">Meeting point: <%= @my_walk_request.meeting_point %></p>
          <%= link_to 'Show Map' ,walk_path(@my_walk_request) %>
        </div>
        <p class="card-text">Request status: <%= @my_walk_request.walk_request_status %></p>
        <% if @my_walk_request.walk_request_status == "Confirmed" %>
          <p><%= @my_walk_request.pin %></p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="tab-pane fade" id="incoming">
    <p>This tab show all of requests sent to me</p>
    <% if @walk_request_received %>
    <div class="card mt-4" style="width: 800px;height: 180px">
      <div class="card-body d-flex justify-content-between align-items-center">
        <%= cl_image_tag @requester.photo.key, :style => "width: 100px; height: 100px;" %>
        <div>
          <p>Requester: <%= @requester.name %> </p>
          <p class="card-text">Meeting point: <%= @walk_request_received.meeting_point %></p>
        </div>
        <% case @walk_request_received.walk_request_status %>
        <% when "Pending" %>
          <p class="button"><%= link_to 'Accept', walk_path(@walk_request_received, format: 'Confirmed'), method: 'PATCH' %></p>
          <p class="button"><%= link_to 'Decline', walk_path(@walk_request_received, format: 'Declined'), method: 'PATCH' %></p>
        <% when "Cancelled" %>
          <p><%= @walk_request_received.walk_request_status %></p>
        <% when "Confirmed" %>
          <p><%= @walk_request_received.walk_request_status %></p>
          <p class="card-text">PIN: <%= @walk_request_received.pin %></p>
          <p class="button"><%= link_to 'Cancel', walk_path(@walk_request_received, format: 'Cancelled'), method: 'PATCH' %></p>
        <% else %>
          <p><%= @walk_request_received.walk_request_status %></p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="dashboard-tabs">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#request">
        <img class="icon-person" src="https://i.imgur.com/gNYUbFp.png" title="source: imgur.com">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#incoming">
        <img class="icon-letter" src="https://i.imgur.com/giHPsCH.png" title="source: imgur.com">
        <span class="badge">3</span>
      </a>
    </li>
  </ul>
</div>
