<!-- Getting the first name -->

<div class="user-dashboard" class="tab-content" align="center">

<!-- Requests I have sent -->
  <div class="tab-pane fade <%= params[:status] ? " " : "show active" %>" id="request">
    <% if @my_walk_request %>
  <!-- map -->
    <div id="map"
     class = "col-12"
     data-markers="<%= @markers.to_json %>"
     data-meet-point="<%= @meet_point %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <!-- content -->
    <div class="card">
      <div class="d-flex justify-content-between">
        <%= cl_image_tag @my_buddy.photo.key, class: "profile-pic" %>
        <div>
          <%= link_to @my_buddy.name, user_path(@my_buddy), class: "header-dashboard" %>
        </div>
        <div class="status">
          <p id="status"><%= @my_walk_request.walk_request_status %></p>
        </div>
      </div>
      <div>
        <p id="text-dashboard"><i class="fas fa-map-pin"></i> <%= @my_walk_request.meeting_point %></p>
        <% if @my_walk_request.walk_request_status == "Confirmed" %>
          <p id = "text-dashboard" style="text-align: center;">PIN: <%= @my_walk_request.pin %></p>
          <%= link_to 'Getting there', walk_path(@my_walk_request), class: "btn-link" %>
        <% end %>
      </div>
      <%= link_to 'Cancel request', walk_path(@my_walk_request), method: :delete, data: {confirm: 'Are you sure?'}, class: "cancel-btn"%>
    </div>
    <% else %>
    <div class ="blank-card">
      <h4>You have not sent a request <i class="far fa-frown-open"></i></h4>
    </div>
    <% end %>
    </div>

<!-- Requests I have received -->
  <div class="tab-pane fade <%= params[:status] ? "show active" : " " %>" id="incoming">
    <% if @walk_request_received %>
    <!-- map -->
    <div id="mapbuddy"
     data-marker ="<%= @buddymarkers.to_json %>"
     data-buddy-meet-point="<%= @buddy_meet_point %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <!-- content -->
    <div class="card">
      <div class="d-flex justify-content-between">
        <%= cl_image_tag @requester.photo.key, class: "profile-pic" %>
        <div>
          <%= link_to @requester.name, user_path(@requester), class: "header-dashboard" %>
        </div>
        <div>
        <% case @walk_request_received.walk_request_status %>
        <% when "Pending" %>
          <% if @my_walk_request && @my_walk_request.walk_request_status == "Confirmed" %>
            <div><p class="unique-notice">You can only have 1 buddy at a time. Cancel your request to modify</p></div>
          <% else %>
            <div class="d-flex justify-content-between" id="decision">
              <%= link_to ('<i class="fas fa-user-check"></i>').html_safe, walk_path(@walk_request_received, format: 'Confirmed'), method: 'PATCH',class: "stayinpage" %>
              <%= link_to ('<i class="fas fa-user-times"></i>').html_safe, walk_path(@walk_request_received, format: 'Declined'), method: 'PATCH', data: {confirm: 'Are you sure?'}, class: "stayinpage"%>
            </div>
          <% end %>
        <% when "Cancelled" %>
          <p id="status"><%= @walk_request_received.walk_request_status %></p>
        <% when "Confirmed" %>
          <% if @my_walk_request && @my_walk_request.walk_request_status == "Confirmed" %>
            <div><p class="unique-notice">You can only have 1 buddy at a time. Cancel your request to modify this request</p></div>
          <% else %>
          <div>
            <p id="status"><%= @walk_request_received.walk_request_status %></p>
          </div>
          <% end %>
        <% else %>
          <p id="status"><%= @walk_request_received.walk_request_status %></p>
        <% end %>
      </div>
      </div>
      <div>
        <p id = "text-dashboard"><i class="fas fa-map-pin"></i> <%= @walk_request_received.meeting_point %></p>
        <% if @walk_request_received.walk_request_status == "Confirmed" %>
          <p id = "text-dashboard" style="text-align: center;">PIN: <%= @walk_request_received.pin %></p>
          <%= link_to 'Getting there', walk_path(@walk_request_received), class: "btn-link" %>
        <% end %>
      </div>
      <% unless @walk_request_received.walk_request_status == "Declined" || @walk_request_received.walk_request_status == "Cancelled" %>
        <%= link_to 'Cancel', walk_path(@walk_request_received, format: 'Cancelled'), method: 'PATCH', class: "cancel-btn stayinpage" %>
      <% end %>
    </div>
    <% else %>
    <div class ="blank-card">
      <h4>You have received no requests <i class="far fa-frown-open"></i></h4>
    </div>
    <% end %>
  </div>
</div>

<!-- Tabs -->

<div class="user-dashboard">
  <div class="user-tab">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link <%= params[:status] ? "" : "active" %>" data-toggle="tab" href="#request" id="activetab">
          <img class="icon-person" src="https://i.imgur.com/gNYUbFp.png" title="source: imgur.com" id="icon-tab">
          <p class="text-tab">Requests sent</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= params[:status] ? "active" : " " %>" data-toggle="tab" href="#incoming" id="incomingtab">
          <img class="icon-letter" src="https://i.imgur.com/giHPsCH.png" title="source: imgur.com" id="icon-tab">
          <span class="badge"><%= @badge %></span>
          <p class="text-tab">Requests received</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<script>
    window.setInterval('refresh()', 8000);

    function refresh() {
        window.location.reload();
    }
</script>
