<div class="container">
  <h3> Your favourite flockers </h3>
    <% @favorites.each do |favorite| %>
      <div class="favorite-card">
        <%= cl_image_tag @user.photo.key%> <!--need to fix this -->
        <div class="favorite-card-info">
          <p class="fav-name">
            <%= favorite.name %>
          </p><br>
          <% Compliment.where(review_id: Review.where(reviewee_id: favorite.id, user_id: @user.id).last.id).each do |compliment| %>
          <%= compliment.content %>
            <% end %>
          <% end %>
        </div>
      </div>
  <%= link_to new_destination_path, class: 'my_link_class' do %>
    <%= image_tag("home.png", alt: 'image', class: 'my_image_class')%>
  <% end %>
</div>
