<div class="container">
  <div class="row justify-content-md-center">
    <%= cl_image_tag @user.photo.key%>
  </div>

  <div class ="row justify-content-md-center">
    <div class="info-card">
      <div>
        <h3><%= @user.name%></h3>
        <p class="user-info">Number of walks: <%= @total_walks %></p>
      </div>
        <p class="user-desc"><%= @user.description %></p>
        
      <h4>Walk with <%= @user.name %></h4>
      <div>
        <%= simple_form_for [ @walk ] do |f| %>
            <%= f.input :meeting_point, placeholder: 'Enter your meeting point',  label: false %>
            <%= f.hidden_field :buddy_destination_id, value: @destination.id %>
            <%= f.submit "Confirm Buddy!", class: "btn" %>
        <% end %>
      </div>
    </div>
    </div>

    <%= link_to 'Back', destinations_path %>
  </div>
