<div class="user-show">

  <div class="top">
    <%= cl_image_tag @user.photo.key%>
    <h3 class="user-name"><%= @user.name%></h3>
    <div>
      <% case @total_walks %>
      <% when 10..20 %>
        <h5 class="flock-level">Casual Flocker</h5>
      <% when 20..1000 %>
        <h5 class="flock-level">Expert Flocker</h5>
      <% else %>
        <h5 class="flock-level">Newbie Flocker</h5>
      <% end %>
    </div>
  </div>

  <div class="middle d-flex flex-column">
    <div class="d-flex justify-content-around" id="middle-top">
      <div class="bd-highlight"><%= @total_walks %></div>
      <div class="bd-highlight"><%= @avg_rating.round(1) %> ★</div>
    </div>
    <div class="d-flex justify-content-around" id="middle-bottom">
      <div class="bd-highlight">walks done</div>
      <div class="bd-highlight">avg rating</div>
    </div>
  </div>

  <div class = "bottom">
      <p class="user-desc"><%= @user.description %></p>

      <div>
        <%= simple_form_for [ @walk ] do |f| %>
            <%= f.input :meeting_point, placeholder: 'Enter a meeting point', label: false %>
            <%= f.hidden_field :buddy_destination_id, value: @destination.id %>
            <%= f.submit "Confirm buddy!", class: "btn", style: "margin-bottom: 10px" %>
        <% end %>
      </div>
      <hr />

      <div class="reviews">
          <h5 class="review-title"> Reviews </h5>
        <% if @reviewers.length > 0 %>
          <% @reviewers.each do |reviewer| %>
            <% rev = Review.where(reviewee_id: @user.id, user_id: reviewer.id).last %>
            <% if rev %>
             <div class="reviewer-top d-flex">
              <%= cl_image_tag User.find(rev.user_id).photo.key, id:"reviewers-img"%>
              <h5 class="reviewer-name"> <%= User.find(rev.user_id).name %> </h5>
            </div>
            <div class="review-content d-flex justify-content-around">
              <span class ="star"><%= '★' * rev.rating %></span>
              <% compliment = Compliment.where(review_id: rev.id) %>
              <% if compliment.present? %>
                  <span><%= compliment.last.content %></span>
              <% else %>
                  <span style="width: 54px;"></span>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <% end %>
      </div>
  </div>
</div>
