<div class="container">
  <div class="row justify-content-md-center">
    <%= cl_image_tag @user.photo.key%>
  </div>

  <div class ="row justify-content-md-center">
    <div class="info-card">
      <div class ="d-flex justify-content-between">
        <h3><%= @user.name%></h3>
        <span style="font-size: 20px;color: #000; padding-right: 15px;"> <%= @avg_rating %> ★</span>
      </div>
        <p class="user-info">Number of walks: <%= @total_walks %></p>
        <p class="user-desc"><%= @user.description %></p>

      <h4>Walk with <%= @user.name %></h4>
      <div style="padding-left: 20px; padding-right: 20px;">
        <%= simple_form_for [ @walk ] do |f| %>
            <%= f.input :meeting_point, placeholder: 'Enter your meeting point',  label: false, style:"margin-bottom: -5px" %>
            <%= f.hidden_field :buddy_destination_id, value: @destination.id %>
            <%= f.submit "Confirm buddy!", class: "btn", style: "margin-bottom: 10px" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
