<div class="container" style="margin-top: 10px;" align="center">
  <h4>Let's walk home...</h4>
  <!-- This is only for a user who has sent a walk request to a buddy. Not a buddy receiving and accepting the walk request -->
    <div class = 'whatsapp chat'>
      <a href="https://api.whatsapp.com/send?phone='<%= current_user.emergency_contact_number %>'&text='Hi <%= current_user.emergency_contact_name %>! I am using Flock to walk from <%= @meet %> to <%= @end %> with <%= @buddy_name %>'" target="_blank" rel="noopener noreferrer"> <p class="btn btn-warning" align="center"> Share your live location via <img src="https://i.imgur.com/bEwFKW7.png" width=30px, height=30px, alt="Whatsapp icon"> </a>
      <p class="btn btn-warning" align="center" id="arrived" data-number="<%= current_user.emergency_contact_number %>" data-text= "<%= current_user.name %> has arrived home safe and sound!" >I've arrived</p>
      <button id="sweet-alert-demo" class="btn btn-primary">Click me!</button>
      <%= link_to "", new_walk_review_path(@walk), id: "reviewlink", class: "hidden" %>
      <a href="https://api.whatsapp.com/send?phone='<%= current_user.emergency_contact_number %>'&text='<%= current_user.name %> has arrived home safe and sound!'" id = "here" target="_blank" rel="noopener noreferrer">
    </div>

    <div id="destinationmap"
    style="width: 380px; height: 400px;"
     data-meet-point="<%= @meet_point %>"
     data-first-end="<%= @end_first %>"
     data-second-end="<%= @end_sec %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>

    <% if @user_steps == current_user.name %>
      <div id="instructionsfirst" style="width: 380px;></div>
    <% else %>
      <div id="instructionssec" style="width: 380px;></div>
    <% end %>


</div>
