<div class="container" style="margin-top: 10px;" align="center">
  <h4>Let's walk home...</h4>
    <div class = 'whatsapp chat'>
      <a href="https://api.whatsapp.com/send?phone='<%= current_user.emergency_contact_number %>'&text='Hi <%= current_user.emergency_contact_name %>! I am using Flock to walk from <%= @meet %> to <%= @end %> with <%= @buddy_name %>'" target="_blank" rel="noopener noreferrer" style ="color: white; background: #FD5C65;padding-top: 5px; padding-bottom: 5px;margin-top:5px;font-size: 12px;" class = "btn"> Share your live location via <img src="https://i.imgur.com/bEwFKW7.png" width=20px, height=20px, alt="Whatsapp icon"> </a>
      <button id="arrived" class="btn" style="background: #FD5C65; color: white; padding-top: 5px; padding-bottom: 5px;margin-top:5px;font-size: 12px;">I've arrived!</button>
      <%= link_to "", new_walk_review_path(@walk), id: "reviewlink", class: "hidden" %>
      <a href="https://api.whatsapp.com/send?phone='<%= current_user.emergency_contact_number %>'&text='<%= current_user.name %> has arrived home safe and sound!'" id = "whatsapplink" target="_blank" rel="noopener noreferrer" data-walkid = "<%= @walk.id %>">
    </div>

    <div id="destinationmap"
    style="width: 380px; height: 400px;"
     data-meet-point="<%= @meet_point %>"
     data-first-end="<%= @end_first %>"
     data-second-end="<%= @end_sec %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>

     <% if @user_steps == current_user.name %>
           <div id="instructionsfirst" style="width: 380px;></div>
    <% else %>
           <div id="instructionssec" style="width: 380px;></div>
    <% end %>

    <!-- This is only for a user who has sent a walk request to a buddy. Not a buddy receiving and accepting the walk request -->
      <div>
        <a href="https://api.whatsapp.com/send?phone='<%= current_user.emergency_contact_number %>'&text='Hi <%= current_user.emergency_contact_name %>! I am using Flock to walk from <%= @meet %> to <%= @end %> with <%= @buddy_name %>'" target="_blank" rel="noopener noreferrer" style ="color: white; background: #FD5C65;padding-top: 5px; padding-bottom: 5px;margin-top:5px;font-size: 12px;" class = "btn"> </a>
      </div>

</div>
