
<div class="container" style="margin-top: 10px;" align="center">
  <h3>Let's walk home...</h3>

    <div id="destinationmap"
    style="width: 380px; height: 400px;"
     data-meet-point="<%= @meet_point %>"
     data-first-end="<%= @end_first %>"
     data-second-end="<%= @end_sec %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>

    <div id="instructions"></div>
    </div>

<!-- This is only for a user who has sent a walk request to a buddy. Not a buddy receiving and accepting the walk request -->
  <div class = 'whatsapp chat' >
    <a href="https://api.whatsapp.com/send?phone='<%= current_user.emergency_contact_number %>'&text='Hi <%= current_user.emergency_contact_name %>! I am using Flock to walk from <%= @meet %> to <%= @end %> with <%= @buddy_name %>'"> <p class="btn btn-warning" align="center"> Share your live location via <img src="https://i.imgur.com/bEwFKW7.png" width=30px, height=30px, alt="Whatsapp icon"> </a>
    <p class="btn btn-warning" align="center" >I've arrived</p>
  </div>

</div>

