<div class="walk-show" align="center">
  <div class='whatsapp chat'>
    <div class='divwashare d-flex justify-content-between'>
      <a
        href="https://api.whatsapp.com/send?phone='<%= current_user.emergency_contact_number %>'&text='Hi <%= current_user.emergency_contact_name %>! I am using Flock to walk from <%= @meet %> to <%= @end %> with <%= @buddy_name %>'"
        target="_blank"
        rel="noopener noreferrer"
        class="whatsappshare">
        Share your location via <i class="fab fa-whatsapp"></i>
      </a>
    </div>
    <p class="btn sharebutton" id="arrived">I've arrived!</p>

    <%= link_to "", new_walk_review_path(@walk), id: "reviewlink", class: "hidden" %>
    <a href="https://api.whatsapp.com/send?phone='<%= current_user.emergency_contact_number %>'&text='<%= current_user.name %> has arrived home safe and sound!'" id="whatsapplink" target="_blank" rel="noopener noreferrer" data-walkid="<%= @walk.id %>"></a>
    </div>

    <div id="destinationmap" data-meet-point="<%= @meet_point %>" data-first-end="<%= @end_first %>" data-second-end="<%= @end_sec %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

    <% if @user_steps == current_user.name %>
          <div id="instructionsfirst"></div>
    <% else %>
          <div id="instructionssec"></div>
    <% end %>

    <div class="blank">

    </div>

    <div class="hidden" style="display: none;">
      <p class="btn" id="hiddenalert">Check in</p>
      <a href="tel:'<%= current_user.emergency_contact_name %>'" id="linkcall">Call</a>
    </div>
</div>

<script>
    const alertButton = document.getElementById("hiddenalert")
    if (alertButton) {
      interval = window.setInterval(function() { alertButton.click(); }, 20000);
      setTimeout(function () {
         clearInterval(interval);
       }, 25000);
    }
</script>
