<div class="container" style="margin-top: 10px;">
  <h2>You will meet <%= @my_buddy.name %>...</h2>
    <h3 class="text-center">Show your pin: <%= @walk.pin %></h3>
    <h3 class="btn text-center" id="tab-dashboard"><%= link_to "Let's flock!", routes_walk_path(@walk) %></h3>

  <div class = "d-flex justify-content-between">

    <div id="routemap"
     style="width: 800px; height: 600px;"
     data-meet-lng="<%= @meet_point_lng %>"
     data-meet-lat="<%= @meet_point_lat %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>

    <div id="instructions"></div>
  </div>

</div>
