<div class="walk-show" class="tab-content" align="center">

  <div class="tab-pane fade in show active" id="meeting-point">
    <div class="top">
      <div class="d-flex align-item-start">
      <% if current_user.name == @my_buddy.name %>
        <p>Meet <%= @requester.name.split(" ")[0] %>...</p>
        <%= cl_image_tag current_user.photo.key, class: "user-pic" %>
        <%= cl_image_tag @requester.photo.key, class: "user-pic" %>
      <% else %>
        <p>Meet <%= @my_buddy.name.split(" ")[0] %>...</p>
        <%= cl_image_tag current_user.photo.key, class: "user-pic" %>
        <%= cl_image_tag @my_buddy.photo.key, class: "user-pic" %>
      <% end %>
      </div>
    </div>

    <p class="text-center" id="pin">PIN: <%= @walk.pin %> <i class="fas fa-user-lock"></i></p>
    <div class = "flock">
      <%= link_to "Let's Flock!", routes_walk_path(@walk), class:"letsflock" %>
    </div>

    <div id="routemap"
     data-meet-lng="<%= @meet_point_lng %>"
     data-meet-lat="<%= @meet_point_lat %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div id="instructions"></div>
    </div>

<div class="walk-tab">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#meeting-point">
        <img class="icon-marker" src="https://i.imgur.com/xtCh3Pk.png" title="source: imgur.com">
        <p class="text-tab">Meeting point</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#messaging">
        <img class="icon-letter" src="https://i.imgur.com/jAw3Wrn.png" title="source: imgur.com">
        <span class="badge"><%= @new_messages %></span>
        <%= link_to 'Chatroom', chatroom_path(@walk.chatroom), class: "text-tab" %>
      </a>
    </li>
  </ul>
</div>
