<div class="destination-index">
      <div class="cards_container">
        <h3 id="destination-result" >Results</h3>
        <h4 id="destination-total"><%= @destinations.reject{|dest| dest.user == current_user}.count %> Flocker(s) nearby...</h4>
        <div class="cards">
          <% if @destinations %>
            <% @destinations.reject{|dest| dest.user == current_user}.each do |destination| %>
            <%= link_to user_path(destination.user) do %>
            <div class="card">
              <%= cl_image_tag destination.user.photo.key %>
            <div class="text-block">
              <%= destination.user.name %>
              <% total_walks = 0 %>
              <% past_dest = Destination.where(user_id: destination.user.id) %>
              <% if past_dest %>
                <% past_dest.each do |dest| %>
                  <% walks_as_requestor = Walk.where(user_destination_id: dest.id, walk_request_status: "Accepted").count %>
                  <% total_walks += walks_as_requestor %>
                  <% walks_as_buddy = Walk.where(buddy_destination_id: dest.id, walk_request_status: "Accepted").count %>
                  <% total_walks += walks_as_buddy %>
                <% end %>
              <% end %>
            </div>
              <p><%= Geocoder::Calculations.distance_between([@destination.start_location.latitude, @destination.start_location.longitude], [destination.start_location.latitude, destination.start_location.longitude]).round(2) %> miles</p>
              <% if destination.user.average_rating %>
              <div class="d-flex justify-content-between" style="margin: -9px 15px auto 15px;">
                <span style="color: #000; padding-left: 3px;"> <%= destination.user.average_rating.round(1) %> ★</span>
                <span><%= total_walks %> <i class="fas fa-walking"></i></span>
              </div>
              <% else %>
                <span>No reviews</span>
                <span><%= total_walks %> walks done</span>
              <% end %>
            </div>
                <% end %>
              <% end %>
            <% else %>
              <p>Don't worry! We've got you covered!</p>
              <div class="align-items-center">
                <%= f.submit "Start walk", class: "btn", style: "background: #FD5C65; color: white; padding-top: 12px; padding-bottom: 12px;margin-top:10px;" %>
              </div>
            <% end %>
        </div>
      </div>
  </div>
