<div>
  <%= simple_form_for :destination, url: destinations_path do |f| %>
    <%= f.input :start_location, :label => 'Walk starting point' %>
    <%= image_tag 'Icons/103-Location.png', alt:"Locate icon", width: "20px", height: "20px" %><a href ="#" id = "find-me">Use current location</a>
    <br />
    <%= f.input :end_location, :label => 'End' %>
    <%= f.submit "Find your Buddy!", class: "button" %>
  <% end %>
</div>
