<div class="d-flex justify-content-center align-items-center flex-column content-height-wrapper">
  <div class="container" style="display: flex; justify-content: center; margin-top: -85px;">
    <img src="https://i.imgur.com/B5OROzC.jpg" alt="flock logo" style="width:400px;" class="mx-auto">
  </div>
  <div class="destination-home">
    <%= simple_form_for :destination, url: destinations_path do |f| %>
      <div class="destination-textbox">
        <%= f.input :start_location, label: 'Walk starting point', placeholder: 'Enter your location', class:'form-control' %>
        <div class="icon">
          <%= image_tag 'Icons/052-Compass.png', alt:"Locate icon" %> <a href ="#" id = "find-me">Use current location</a>
        </div>
          <%= f.input :end_location, label: 'End', placeholder: 'Enter your destination', class:'form-control' %>
        <div class="icon">
          <%= image_tag 'Icons/522-Home.png', alt:"Locate icon" %> <span id="home-address" data-home="<%= @home %>">Home</span>
        </div>
      </div>
        <%= f.submit "Find your buddy!", class: "btn btn-block" %>
    <% end %>
  </div>
   <button id="info-button" data-pop-up-target="#pop-up">First time Flocking? Find out how! </button>
  <div class="pop-up", id="pop-up">
    <div class="pop-up-header">
      <div class="title"> How to Flock
      </div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="pop-up-body">
      <ol>
        <li>Add your walk start and end point</li>
        <li>View profiles of Flockers walking the same direction as you</li>
        <li>Choose a buddy to walk with</li>
        <li>Find your buddy at a convenient meeting point</li>
        <li>Flock and walk your journey together!</li>
        <li>Leave a review for your buddy and Flock again</li>
      </ol>
    </div>
  </div>
  <div id="overlay">
  </div>
</div>
