<div class="container mt-md-4" align="center"> <h1> Rate your trip with </h1></div>

<div class="container">

<p>Test1</p>
<%= current_user.name %>
<%= @my_buddy.name %>
<%= simple_form_for [@walk, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>


</div>
