<div class="container" align="center">
  <div class="row">
    <div class="col-xs-4">
      <div id="star-rating">
        <h1> Rate your trip with <%= @my_buddy.name %> </h1>
        <%= cl_image_tag @my_buddy.photo.key, :style => "width: 150px; height: 150px; border-radius: 50%" %>
        <%= simple_form_for [@walk, @review], html: { class: "review_form" } do |f| %>
          <%= f.input :rating, collection: (1..5).to_a, label: false %>
            <%= f.association :compliments, legend_tag: false,
                    as: :check_boxes,
                    input_html: { class: "tag-selector" },
                    item_wrapper_class: 'tag-item',
                    collection: Compliment::COMPLIMENTS %>
          <%= f.submit "Submit", class: "btn", :style => "background: #E5E5E5; color: #000; padding-top: 12px; padding-bottom: 12px;margin-top:10px;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
